* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    max-width: 90vw;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}

body {
    width: 100%;
    min-height: 100vh;
    user-select: none;
}

.logo {
    padding: 3vh;
    background-color: red;
    border-radius: 10px;
}

.reacts {
    display: flex;
    gap: 5vh;
    padding: 5vh;
}

.like,
.share,
.follow {
    min-width: 6vw;
    text-align: center;
    background-color: red;
    padding: 1.5vh;
    border-radius: 5px;
}

main {
    position: relative;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 80vw;
    height: auto;
    border-radius: 10px;
    align-content: center;
}

.gameHeader {
    position: relative;
    top: 0;
    width: 80vw;
    min-height: 5vh;
    border: 2px solid #000;
    border-radius: 10px 10px 0px 0px;
}

.gameBoard {
    border-radius: 10px;
    position: relative;
    top: 0;
    left: 0;
    border: 2px solid red;
    max-width: 100%;
    z-index: 5;
}

h1 {
    position: relative;
}

.title {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    gap: 5vh;
    z-index: 6;
}

label {
    display: none;
}

input {
    position: relative;
    padding: 1vh 3vw;
    text-align: center;
    border-radius: 5px;
}

.g-Start {
    position: relative;
    padding: 1vh 2vw;
    border-radius: 10px;
}

#skin,
#mode {
    display: none;
    position: fixed;
    min-height: 300px;
    width: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 15;
}

.skinContent,
.modeContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 300px;
    width: 400px;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px;

}

.skinGrid,
.modeGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    grid-template-rows: auto;
    gap: 20px;
}

.skinItem {
    width: 80px;
    height: 80px;
    border: 2px solid black;
    border-radius: 5px;
    padding: 20px;
}

.modeItem {
    width: 80px;
    height: 80px;
    border: 2px solid black;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
}

.skinItem:focus,
.modeItem:focus {
    width: 85px;
    height: 85px;
    border: none;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 70vw;
    margin: 0 auto;
    margin-top: 3vh;
}

#buttonSkin,
#buttonMode,
.modeItem {
    height: 5vh;
    display: block;
    z-index: 25;
}

.gamePause {
    position: absolute;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.gamePause button {
    width: 100px;
    height: 100px;
    margin-top: 35px;
    border-radius: 20px;
    text-align: center;
    font-size: 32px;
}

.buttonPause {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}