* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100dvh;
    margin: 0 auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    user-select: none;
}

button,
input {
    font-family: inherit;
}

header {
    width: 100%;
}

.header {
    padding: 2vw;
    border-radius: 0px 0px 10px 10px;
    width: 100%;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.headerItem {
    font-size: 30px;
    color: white;
    text-decoration: none;
}

.headerItem:hover {
    text-decoration: overline;
    color: #002896;
}

.logo {
    display: flex;
    justify-self: center;
    align-self: center;
    padding: 20px;
}

main {
    width: 100%;
    height: 100%;
}

.gameRange {
    width: 100%;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}

.gameHeader {
    height: 50px;
    background-color: red;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.gameHeader button {
    display: none;
    width: 50px;
    height: 50px;
    color: #002896;
    background-color: #fff;
    border: none;
    border-radius: 3px;
}

.gameHeader button:hover {
    cursor: pointer;
    color: #fff;
    background-color: #002896;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.gameBoard {
    cursor: default;
    border: 1px solid #ccc;
}

canvas {
    background-color: #fff;
    border-radius: 0px 0px 10px 10px;
}

.title {
    user-select: none;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 25px;
    z-index: 5;
}

.title span {
    color: #002896;
}

.title h1 {
    color: red;
    font-size: 24pt;
    font-weight: 800;
}

input {
    border-radius: 8px;
    height: 30px;
    text-align: center;
    border: 1px solid #ccc;
}

.gamePause {
    display: none;
    color: #002896;
    font-size: 16pt;
    font-weight: 800;
    user-select: none;
    position: absolute;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 25px;
    z-index: 10;
    background-color: white;
}

.buttonPause {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 25px;
    z-index: 10;
}

.buttonIsPause {
    width: 50px;
    min-height: 50px;
    border-radius: 10px;
    font-size: 24pt;
    color: #002896;
    background-color: #fff;
    border: 1px solid #ccc;
}

.buttonIsPause:hover {
    cursor: pointer;
    color: #fff;
    background-color: #002896;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#skin,
#mode {
    display: none;
    color: #002896;
    font-size: 16pt;
    font-weight: 800;
    user-select: none;
    position: absolute;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 25px;
    z-index: 15;
    background-color: white;
}

.skinContent,
.modeContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 35px;
}

.skinSprite {
    display: flex;
    align-items: center;
    justify-content: center;
}

.skinSprite li {
    margin-left: -10px;
    list-style-type: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: #002896;
    animation: snakeBauncing 2s infinite;
    animation-timing-function: cubic-bezier(0.45, 0.05, 0.55, 0.95);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.skinSprite li:first-child {
    margin-left: 0;
}

.skinSprite li:nth-child(2) {
    animation-delay: .2s;
}

.skinSprite li:nth-child(3) {
    animation-delay: .4s;
}

.skinSprite li:nth-child(4) {
    animation-delay: .6s;
}

.skinGrid,
.modeGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.skinItem {
    cursor: pointer;
    width: 50px;
    height: 50px;
    border: #ccc;
    border-radius: 60px;
}

.skinItem img{
    width: 50px;
    height: 50px;
    background-size: cove;
}
.skinButtonModal,
.modeButtonModal,
.title button,
#buttonSkin,
#buttonMode {
    cursor: pointer;
    width: 120px;
    height: 30px;
    color: #fff;
    background-color: #002896;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.skinButtonModal:hover,
.modeButtonModal:hover,
#buttonSkin:hover,
#buttonMode:hover,
.title button:hover {
    color: #ff0;
    background-color: #002896;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.modeItem {
    width: 100px;
    height: 150px;
    border: 1px solid #ccc;
}

.modeItem:hover {
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.infinite {
    background-color: #002896;
}

.classic {
    background-color: red;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 70vw;
    margin: 0 auto;
    margin-top: 3vh;
}

.ativa {
    border: 2px solid #000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

@keyframes snakeBauncing {

    0%,
    100% {
        transform: translateY(0);
    }

    25% {
        transform: translateY(15px);
    }

    75% {
        transform: translateY(-15px);
    }
}

@media (max-width: 380px) {
    .title h1 {
        font-size: 20pt;
    }

    .skinSprite li {
        width: 40px;
        height: 40px;
    }

    .gameHeader button {
        display: block;
    }
}

@media (max-width: 480px) {
    .header {
        gap: 15px;
    }

    .headerItem {
        font-size: 24px;
    }

    .gameHeader button {
        display: block;
    }

}

@media (max-width: 780px) {

    #skin,
    #mode,
    .gamePause {
        width: 95%;
        font-size: 14pt;
    }

    .modeItem {
        width: 80px;
        height: 120px;
    }
    .gameHeader button {
        display: block;
    }
}

@media (min-width: 800px) {
    main {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .gameRange {
        margin-top: 25px;
        width: 90vw;
        max-width: 900px;
    }

    .logo {
        position: absolute;
        right: 30px;
        top: 10px;
        padding: 0;
    }

    .header {
        height: 40px;
        justify-content: start;
    }

    .headerItem {
        margin-left: 30px;
    }

    footer {
        width: 90vw;
        max-width: 900px;
    }

}